.navbar-brand {
  font-family: "Satisfy", cursive !important;
}

.nav-link {
  font-family: "Special Elite", cursive !important;
  font-size: 1rem !important;
}

.searchicon {
  width: 4%;
  padding: 0;
  margin: 0;
}

.card-text {
  font-family: "Special Elite", cursive !important;
}

.uploads {
  font-family: "Special Elite", cursive !important;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

#clicks {
  font-family: "Special Elite", cursive !important;
}

#textcomment {
  font-family: "Special Elite", cursive !important;
  font-size: 0.8rem;
}

.author {
  font-size: 0.8rem;
  font-family: "Special Elite", cursive !important;
}

.commentstitle {
  font-family: "Special Elite", cursive !important;
}

.collapselink {
  font-family: "Special Elite", cursive !important;
}

.uploadButton {
  font-family: "Special Elite", cursive !important;
  color: aliceblue;
}

.uploadbtn {
  margin-top: 1%;
  margin-bottom: 1%;
}

/* .grid-container {
  display: grid;
} */

.gifs {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
}

.gif {
  max-width: 100%;
  cursor: pointer;
}

.text-line {
  background-color: transparent;
  color: #eeeeee;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black 1px;
  padding: 3px 10px;
}

.searchtext,
.text-line,
input,
button {
  font-family: "Special Elite", cursive !important;
}

.showCommentsBtn {
  cursor: pointer;
  border-radius: 0%;
  background-color: white;
  color: blue;
  border-color: white;
  text-align: right;
}
