.navbar-brand {
  font-family: "Satisfy", cursive !important;
}

.nav-link {
  font-family: "Special Elite", cursive !important;
  font-size: 1rem !important;
}

.searchicon {
  width: 4%;
  padding: 0;
  margin: 0;
}

.card-text {
  font-family: "Special Elite", cursive !important;
}

.uploads {
  font-family: "Special Elite", cursive !important;
  margin-top: 6%;
  margin-bottom: 4%;
  text-align: center;
}

#clicks {
  font-family: "Special Elite", cursive !important;
}

#textcomment {
  font-family: "Special Elite", cursive !important;
  font-size: 0.8rem;
}

.author {
  font-size: 0.8rem;
  font-family: "Special Elite", cursive !important;
}

.commentstitle {
  font-family: "Special Elite", cursive !important;
}

.collapselink {
  font-family: "Special Elite", cursive !important;
}
/* 
.gifs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 140%;
  margin: 0 auto;
  margin-top: 5%;
}

.gif {
  max-width: 140%;
  cursor: pointer;
} */
/* e2dbd5 */
/* efede0 */
