{% extends 'base.html' %}
{% load static %}

{% block content %}
 <style>
     body {
        background-image: linear-gradient(to right, #e2dbd5, #efede0) !important;
     }
 </style>

 <form action="{% url 'profile' %}" method="'POST" enctype="multipart/form-data">
     {% csrf_token %}
     {{form}}
     <button class="btn btn-outline-success" type="submit">Upload</button>
 </form>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{profile.profile_photo.url}}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Username: {{profile.user}}</p>
            <p class="card-text">Bio: {{profile.bio}}</p>
        </div>
    </div>

    <p class="uploads h2">Uploads</p>

    {% for image in images %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{image.uploaded_image.url}}" alt="Card image cap">
        <div class="card-body">
            <p class="card-title">{{image.image_name}}</p>
            <p class="card-text">{{image.caption}}</p>
        </div>
    </div>
    {% endfor %}

{% endblock %}