{% extends 'base.html' %}
{% load static %}

{% block content %}
 <style>
     body {
        background-image: linear-gradient(to right, #e2dbd5, #efede0) !important;
     }
 </style>

 <form action="{% url 'profile' %}" method="'POST" enctype="multipart/form-data">
     {% csrf_token %}
     {{uploadform}}
     <button class="btn btn-outline-success" type="submit">Upload</button>
 </form>

{% for profile in profiles %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{profile.profile_photo.url}}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Username: {{profile.user}}</p>
            <p class="card-text">Bio: {{profile.bio}}</p>
        </div>
    </div>

{% endfor %}





{% endblock %}