{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background-image: linear-gradient(to right, #e2dbd5, #efede0) !important;
    }
</style>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.error %} class="{{ message.error}}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% for profile in profiles %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{profile.profile_photo.url}}" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Username: {{profile.user}}</p>
        <p class="card-text">Bio: {{profile.bio}}</p>
    </div>
</div>

{% endfor %}

{% for image in images %}

    </form>
    </div>
    
    
    <div class="grid-container gifs">
        {% for image in images %}
        <div class="card">
            <div class="col-md-auto">
                <img class="card-img-top" src="{{image.uploaded_image.url}}" alt="Card image cap">
                <div class="icons my-1 mp-1 d-flex justify-content-start">
                    <button onclick="likecount('{{image.id}}')" class="btn">
                        <img style="width: 2rem;" src="../../media/images/heart.png" alt="">
                        <span id="clicks{{image.id}}">{{image.likes}}</span>
                    </button>
                    <button onclick="textarea('commentform{{image.id}}')" class="btn">
                        <img style="width: 2rem" src="../../media/images/chat.png" alt="">
                    </button>
                </div>
                <div id="commentform{{image.id}}" hidden>
                    <input class="form-control" type="text" id="comment{{image.id}}">
                    <button class="btn" onclick="commentsubmit('{{image.id}}')" type="submit">Submit</button>
                </div>
                <div class="card-body">
                    <p class="card-text">{{image.image_name}}</p>
                    <p class="card-text">{{image.caption}}</p>
                </div>
    
    
                <button class="btn btn-primary showCommentsBtn" type="button" data-toggle="collapse"
                    data-target="#collapseExample{{image.id}}" aria-expanded="false"
                    aria-controls="collapseExample{{image.id}}">
                    Show Comments
                </button>
    
                <div class="collapse" id="collapseExample{{image.id}}">
                    <div class="card card-body">
                        <div class="getcomment" id="getcomment{{image.id}}">
                            {% for comm in comments %}
                            {% if comm.image_id.id == image.id %}
                            <div class="card">
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p id="textcomment">{{comm.comment}}</p>
                                        <footer class="blockquote-footer author">By: <cite id="getauthor"
                                                title="Source Title">{{comm.user.username}}</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        {% endfor %}
    </div>

{% endfor %}


<script>

    function textarea(comment_form_id) {
        $(`#${comment_form_id}`).removeAttr('hidden');
    }

    function get_comment_html(comment, username) {
        return `
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p id="textcomment">${comment}</p>
                        <footer class="blockquote-footer author">By: <cite id="getauthor" title="Source Title">${username}</cite></footer>
                    </blockquote>
                </div>      
            </div>
            `
    }

    function commentsubmit(image_id) {
        let data = {
            csrfmiddlewaretoken: '{{csrf_token}}',
            image_id: image_id,
            comment_value: $(`#comment${image_id}`).val()
        };
        $.post('/comment/', data, function (data) {
            let card = $.parseHTML(get_comment_html(data.comment, data.user))[1]
            console.log($(`#getcomment${image_id}`))
            $(`#getcomment${image_id}`)[0].append(card)
            // $(`#comment{{image_id}}`).html(data.comment)
        })
    }

    function likecount(image_id) {
        let count = {
            csrfmiddlewaretoken: '{{csrf_token}}',
            image_id: image_id,
        };
        $.post('/likes/', count, function (data) {
            if (data.liked) {
                $(`#clicks${image_id}`).html(data.likes)
            }
        })
    }

</script>

{% endblock %}